.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-text-1 {
  margin: 107px auto 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/photoperso.JPG");
  background-position: 50% 50%;
  margin: 58px auto 60px;
}